<c-col xs="12">
    <c-card class="mb-4">
        <c-card-body>
            <h5> Locations For User: {{userName?userName:""}}</h5>
            <hr style="margin-bottom: 20px;">

            <div cdkDropListGroup>
                <div class="example-container">
                    <h6>Location List</h6>
                    <div cdkDropList [cdkDropListData]="locationList" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of locationList" cdkDrag>{{item.locationName}}</div>
                    </div>
                </div>
                <div class="example-container">
                    <h6>Added Locations</h6>
                    <div cdkDropList [cdkDropListData]="selectedLocationList" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of selectedLocationList" cdkDrag>{{item.locationName}}
                        </div>
                    </div>
                </div>

            </div>

            <c-row ngPreserveWhitespaces>
                <c-col xs="12">
                    <c-card-body>
                        <c-row class="align-items-center mb-3">
                            <c-col>
                                <button cButton (click)="getLItems()" class="me-1" color="success" type="submit">
                                    <svg cIcon name="cilPlus" style="margin-right: 5px;"></svg>
                                    SUBMIT
                                </button>
                                <button (click)="Back()" cButton class="me-1" color="secondary">
                                    <svg cIcon name="cilArrowCircleLeft" style="margin-right: 5px;"></svg>
                                    BACK
                                </button>
                            </c-col>
                        </c-row>
                    </c-card-body>
                </c-col>
            </c-row>
        </c-card-body>
    </c-card>
</c-col>