.table-wrapper {
  height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}

.custom-ag-header {
  background-color: #d3dade;
  color: #000;
  font-weight: semi-bold;
  font-size: 17px;
}