<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
      <h5>{{pageTitle}}</h5>
      <hr style="margin-bottom: 20px" />
      <label for="module" class="col-sm-2 col-form-label"> Road Name</label>
      <div class="col-sm-7">
        <select class="form-control" id="module" formControlName="module">
          <option *ngFor="let mod of locationList" [value]="mod._id">
            {{ mod.locationName }}
          </option>
        </select>
      </div>
      <hr style="margin-bottom: 20px;">

      <div cdkDropListGroup>
        <div class="example-container">
          <h6>Task List</h6>
          <div
            cdkDropList
            [cdkDropListData]="pandmAttrList"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of pandmAttrList" cdkDrag>
              {{ item.displayLabel }}
            </div>
          </div>
        </div>
        <div class="example-container">
          <h6>Added Tasks</h6>
          <div
            cdkDropList
            [cdkDropListData]="selectedpandmAttrList"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of selectedpandmAttrList"
              cdkDrag
            >
              {{ item.displayLabel }}
            </div>
          </div>
        </div>
      </div>

      <c-row ngPreserveWhitespaces>
        <c-col xs="12">
          <c-card-body>
            <c-row class="align-items-center mb-3">
              <c-col>
                <button
                  cButton
                  (click)="submit()"
                  class="me-1"
                  color="success"
                  type="submit"
                >
                  <svg cIcon name="cilPlus" style="margin-right: 5px"></svg>
                  SUBMIT
                </button>
                <button (click)="Back()" cButton class="me-1" color="secondary">
                  <svg
                    cIcon
                    name="cilArrowCircleLeft"
                    style="margin-right: 5px"
                  ></svg>
                  BACK
                </button>
              </c-col>
            </c-row>
          </c-card-body>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-col>
