<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Roads Map</c-card-header>
      <c-card-body>
        <c-row>
          <c-col [sm]="12">
            <div
              #map
             
              style="width: 100%; height: 500px"
            ></div>
<!-- 
            <div
            #map
            [cTooltip]="tooltipContent"
            (click)="showTooltip()"
            style="width: 100%; height: 500px"
          ></div> -->
          </c-col>
          <!-- <c-col>
            <h6><b>Road Name :</b> {{ roadName }}</h6>
            <p>Road Length : {{ length }} (m)</p>
            <p>Ward Name : {{ roadWard }}</p>
            <p>Zone Name : {{ roadZone }}</p>
            <p>Contractor Name : {{ contractorName }}</p>
            <p>Road Status : {{ status }}</p>

            <button
              [cTooltip]="tooltipContent"
              cButton
              cTooltipPlacement="right"
              cTooltipTrigger="click"
              class="me-1"
              color="secondary"
            >
              Template Tooltip
              <ng-template #tooltipContent>
                Vivamus <span cTextColor="success">sagittis</span> lacus vel
                augue laoreet rutrum <i cTextColor="warning">faucibus</i>.{{
                  roadName
                }}
              </ng-template>
            </button>
          </c-col> -->
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
