<c-col xs="12">
    <c-card class="mb-4">
        <c-card-body>
            <h5>{{pageTitle}}</h5>
            <hr style="margin-bottom: 50px;">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" cForm
                class="row g-3 needs-validation">
                
                <c-row class="mb-3">
                    <label cLabel class="col-sm-2" for="userName">User Name</label>
                    <c-col [sm]="8">
                        <input cFormControl id="userName" required type="text" readonly
                                formControlName="userName" />
                        <c-form-feedback [valid]="false">Please provide a user name</c-form-feedback>
                    </c-col>
                </c-row>
               
              
                <c-row class="mb-3">
                    <label cLabel class="col-sm-2" for="password">New Password</label>
                    <c-col [sm]="8">
                        <input cFormControl id="password" required type="text" (change)="onPasswordChange($event)"
                               formControlName="password" placeholder="Enter Your New Password" />
                        <c-form-feedback [valid]="false">Please provide a password</c-form-feedback>
                    </c-col>
                </c-row>

                <c-row class="mb-3">
                    <label cLabel class="col-sm-2" for="confirmpassword"> Confirm Password</label>
                    <c-col [sm]="8">
                        <input cFormControl id="confirmpassword" required type="text" (change)="onConfirmPasswordChange($event)" 
                               formControlName="confirmpassword" placeholder="Enter Confirm Password" />
                        <c-form-feedback [valid]="false" *ngIf="passwordMatch">Please provide a confirm password</c-form-feedback>
                    </c-col>
                </c-row>
                
                <c-row ngPreserveWhitespaces>
                    <c-col xs="12">
                        <c-card-body>
                            <c-row class="align-items-center mb-3">
                                <c-col>
                                    <button cButton class="me-1" color="success" type="submit">
                                        <svg cIcon name="cilPlus" style="margin-right: 5px;"></svg>
                                        SUBMIT
                                    </button>
                                    
                                    <button (click)="Back()" cButton class="me-1" color="secondary">
                                        <svg cIcon name="cilArrowCircleLeft" style="margin-right: 5px;"></svg>
                                        BACK
                                    </button>
                                </c-col>
                            </c-row>
                        </c-card-body>
                    </c-col>
                </c-row>
            </form>

            <hr class="my-3">
            
            
        </c-card-body>
    </c-card>
</c-col>